@model MittGarage.Models.SearchCtx

<script src="~/Scripts/admin.js"></script>

<form href="" ng-controller="GarageController">
    @Html.AntiForgeryToken()
    <table>
        <!-- FIXME: Use angular i18n tools -->
        <!-- https://angular-gettext.rocketeer.be/-->
        <!-- https://www.nuget.org/packages/angular-gettext -->
        <tr class="="searchlabels">
            <td> Regnr/Ägare </td>
            <td> Fordonstyp </td>
            <td> Endast dagens </td>
            <td> &nbsp; </td>
            <td> &nbsp; </td>
        </tr>
        <tr>
            <td> <input type="text" ng-model="searchString" /> </td>
            <td>
                <select ng-model="selectedType"
                        ng-options="type for type in types"/>

            </td>
            <td>  <input type="checkbox" ng-model="onlyToday"/> </td>
            <td>
                <input type="submit" value="Filtrera"
                       ng-click="onFilterButton()" />
            </td>
            <td>
                <input type="submit" id="detailsButton" value="Detaljer >>>"
                       ng-click="showDetails = !showDetails"/>
                <!-- FIXME: fix button label-->

            </td>
        </tr>
    </table>

    <hr/>

    <div ngif="vehicles.length > 0">
        <table class="lists">
            <tr>
                <th>
                    <a href="#" ng-click="orderByField = 'RegNr'">
                        Regnummer
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="orderByField = 'Typename'">
                        Fordonstyp
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="orderByField = 'TimeParked'">
                        Tid
                    </a>
                </th>
                <th class="details">
                    <a href="#" ng-click="orderByField = 'OwnerName'">
                        Ägare
                    </a>
                </th>
                <th class="details">
                    <a href="#" ng-click="orderByField = 'checkInDate'">
                        incheckad
                    </a>
                </th>
                <th class="details">
                    <a href="#" ng-click="orderByField = 'Id'">
                        ID
                    </a>
                </th>
                <th></th>
            </tr>

            <tr ng-repeat="vehicle in vehicles | orderBy:orderByField">
                <td> {{vehicle.RegNr}} </td>
                <td> {{vehicle.Typename}} </td>
                <td> {{vehicle.TimeParked}} </td>
                <td ng-show="showDetails"> {{vehicle.OwnerName}} </td>
                <td ng-show="showDetails"> {{vehicle.checkInDate}} </td>
                @*FIXME: http://stackoverflow.com/questions/22435212/angular-js-format-date-from-json-object*@
                <td ng-show="showDetails"> {{vehicle.Id}} </td>
                <td>
                    <a href="/Items/Delete/{{vehicle.Id}}">Checka ut</a>
                </td>
            </tr>
        </table>
        @*<div class="pagedList" data-otf-target="#itemslist">
        http://stackoverflow.com/questions/11581209/pagination-on-a-list-using-ng-repeat
        (#8)
        @Html.PagedListPager(
                Model.PagedResults,
                page => Url.Action("Admin", new { page }),
                PagedListRenderOptions.MinimalWithItemCountText)
    </div>*@
    </div>

</form>
