<script src="~/Scripts/angular-gettext.js"></script>
<script src="~/Scripts/translations.js"></script>
<script src="~/Scripts/garage.commons.js"></script>
<script src="~/Scripts/garage.admin.js"></script>

<form href="" ng-app="Garage.Admin" ng-controller="GarageController">
    @Html.AntiForgeryToken()

    <div class="nofade" ng-hide="showLoadMessage == false" ng-class="{fadeout: startFade}">
        Loading...
    </div>
    <table>
        <tr class="searchlabels">
            <td translate> License plate/Owner </td>
            <td translate> Vehicle type </td>
            <td translate> Just Today </td>
            <td> &nbsp; </td>
            <td> &nbsp; </td>
        </tr>
        <tr>
            <td> <input type="text" ng-model="searchString" /> </td>
            <td>
                <select ng-model="selectedType"
                        ng-options="type for type in types" >

                </select>

            </td>
            <td>  <input type="checkbox" ng-model="onlyToday"/> </td>
            <td>
                <input type="submit" value="{{'Filter'|translate}}"
                       ng-click="onFilterButton()" />
            </td>
            <td>
                <input type="submit" id="detailsButton" value="{{'Details'|translate}} >>>"
                       ng-click="onDetails()"/>
            </td>
        </tr>
    </table>

    <hr/>

    <div ngif="vehicles.length > 0">
        <table class="lists">
            <tr>
                <th>
                    <a href="#" ng-click="orderByField = 'RegNr'" translate>
                        License plate
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="orderByField = 'Typename'" translate>
                        Vehicle type
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="orderByField = 'TimeParked'" translate> 
                        Time
                    </a>
                </th>
                <th ng-show="showDetails">
                    <a href="#" ng-click="orderByField = 'OwnerName'" translate>
                        Owner
                    </a>
                </th>
                <th ng-show="showDetails">
                    <a href="#" ng-click="orderByField = 'checkInDate'" translate>
                        Checked in at
                    </a>
                </th>
                <th ng-show="showDetails">
                    <a href="#" ng-click="orderByField = 'Id'" translate>
                        ID
                    </a>
                </th>
                <th></th>
            </tr>

            <tr dir-paginate="vehicle in vehicles
                              | orderBy:orderByField | itemsPerPage: 10">
                <td> {{vehicle.RegNr}} </td>
                <td> {{vehicle.Typename}} </td>
                <td> {{vehicle.TimeParked}} </td>
                <td ng-show="showDetails"> {{vehicle.OwnerName}} </td>
                <td ng-show="showDetails">
                    {{vehicle.checkInDate | jsDate | date : 'yy-MM-dd HH:mm'}}
                </td>
                <td ng-show="showDetails"> {{vehicle.Id}} </td>
                <td>
                    <a href="/Items/Delete/{{vehicle.Id}}" translate>Check out</a>
                </td>
            </tr>
        </table>

        <dir-pagination-controls>
        </dir-pagination-controls>
    </div>

</form>
