@model MittGarage.Models.Vehicle
<head>
    <meta http-equiv="refresh" content="5;URL=Main">

</head>
@{
    ViewBag.Title = "View";
}

<h2>Incheckningen är genomförd</h2>

Ditt kontrollnummer är: @Model.Id

