@model MittGarage.Models.Vehicle

@{
    ViewBag.Title = "Kontakta oss";
}

<h2>Kontakta oss</h2>
<br/>
Telefontid vardagar 11.00 - 11.15:  0911-66775
<br/>
SMS: 070-111 1234
<br/>
Epost: garaget@sc-null.net
<br/>
Facebook: garaget.pite


