@model MittGarage.Models.GarageItem

@{
    ViewBag.Title = "Delete";
}

<h2>Checka ut</h2>

<h3>Är du säker på att du vill checka ut detta fordon?</h3>
<fieldset>
    <legend>GarageItem</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.regNR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.regNR)
    </div>


</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Tillbaka till huvudmenyn", "Main")
    </p>
}
