@model MittGarage.Models.Vehicle

<script src="~/Scripts/garage.commons.js"></script>
<script src="~/Scripts/garage.checkout.js"></script>

<h2>Checka ut</h2>
<div ng-app="Garage.Checkout" ng-controller="CheckoutController">
    <h3>Är du säker på att du vill checka ut detta fordon?</h3>
    <fieldset>
        <legend>Vehicle</legend>
        <table>
            <tr>
                <td class="display-label"> Ägare: </td>
                <td class="display-field"> {{vehicle.OwnerName}} </td>
            </tr>
            <tr>
                <td class="display-label"> Id: </td>
                <td class="display-field"> {{vehicle.Id}} </td>
            </tr>

            <div ngif="vehicle.RegNr">
                <tr>
                    <td class="display-label"> Registreringsnummer: </td>
                    <td class="display-field"> {{vehicle.RegNr}} </td>
                </tr>
            </div>
        </table>
    </fieldset>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Checka ut" class="btn btn-primary btn-large"/> |
            @Html.ActionLink("Tillbaka till huvudmenyn", "Main")
        </p>
    }
</div>