@model MittGarage.Models.GarageItem

@{
    ViewBag.Title = "Main";
}

<h2>Main</h2>

@Html.ActionLink("Check in ", "CheckIn")

@Html.ActionLink("Check out ", "CheckOut")

@Html.ActionLink("Administrate", "Admin")

