@model MittGarage.Models.GarageItem

@{
    ViewBag.Title = "Main";
}

<h2>Main</h2>

@Html.ActionLink("Checka in", "CheckIn")
<br/>

@Html.ActionLink("Checka ut", "CheckOut")
<br/>

@Html.ActionLink("Administration", "Admin")
<br />

@Html.ActionLink("Kontakta oss", "Contact")
<br/>

